body{
    background-color: aquamarine;
    margin: 10px;
    font-size: 20px;
}

.mySlides {display:none;}


#header{
    background:chartreuse;
    margin: 10px;
    height: 90;
}

#nav_bar{
    background-color: darkgoldenrod;
    margin: 10px;
    height: 35;
    border-radius: 5px;
    font-weight: bolder; font-size: 25;
}
#nav_bar ul{ 
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#nav_bar li{ 
    display: inline;
    padding: 15px;
    vertical-align: middle;
}
#nav_bar a{
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    color: white;
    vertical-align: middle;
}
#nav_bar a:hover{
    color: red;
    background-color: white;

}